body {
	background-image: url("./bg_image.jpg");
	border: 5px dotted black;
	margin: 5%;
	}

h1 {
color: red;
font-size: 300%;
border: 1px black;
text-align: center;
}

h2 {
color: blue;
font-size: 200%;

}
